*{
    background-color: #87805E;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
    padding: 2rem;
    
}

h2{
    text-align: center;
    
    
    
}