ul{
    margin: 12px 26px;
        padding: 10px 12px;
        list-style: none;
        text-align: center;
        font-size: 1.2rem;
        li{
            display: inline-block;
        }
        a{
        display: block;
        padding: 0.5rem 1.5rem;
        text-decoration: none;
        color: rgb(255, 111, 8);
        }

        &:hover{
            background-color :$colorPrincipal ;
            transition: background-color 3s ease-out;
            filter: opacity (0.9);
            }
}